
 
 
 body {
   background-image: url("https://papers.co/wallpaper/papers.co-sn87-soft-pink-pastel-blur-gradation-29-wallpaper.jpg");
   margin-top: 3rem;
   margin-left: 5rem;
   align-items: center;
 }
 
 h1 {
   font-family: 'Lucida Sans';
   color: rgb(185, 122, 183);
   
 }
 
 input[type=checkbox]:checked ~ label {
    text-decoration: line-through;

 }

 .mother {
   background-color: whitesmoke;
   font-family: 'Lucida Sans';
   display: flex;
   border: 1px solid lightgrey;
   justify-content: space-around;
   padding: 1 0rem;
   width: 24.5%;
   height: 10%;
   flex-direction: column;
   border-radius: 4px;
   border-width: 2px;
    
 }

.text {
   background-color: whitesmoke;
   border-color: rgb(219,112,147);
   justify-content: center;
   align-items: center;
   border-width: 1.5px;
   width: 13rem;
   height: 1.8rem;
   border-radius: 4px;
}


.click {
   background-color: rgb(255,228,225);
   border-color: rgb(255,228,196);
   border-width: 1.5px;
   border-radius: 4px;
   width: 2rem;
   height: 2rem;
}

#check {
   margin-top: 1rem;
   font-family: 'cursive';
}
